@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&family=Quattrocento&display=swap');

:root {
    --display: 'Bodoni Moda', serif;
    --body: 'Quattrocento', serif;
}

.mandy {
    font-family: var(--body);
    background-color: burlywood;
}


.mandy h1, .mandy h2, .mandy h3 {
    font-family: var(--display);
}

