  /* PLEASE STYLE ONLY YOUR ID DIVS, so we don;t have conflics
  like
  #alex h2{
    ...
  } */
  #alex{
    background-color: palegreen;
    /* border-color: peru;
    border-width: 2px; */
    color: #343a40;
  }
  #alex h2{
    color: peru;
  }